{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block a %}<a class="nav-link" href="/logout">Logout</a>{% endblock %}
{% block content %}

<br/>
    <div class="container">
        <h1 class="welcome">Guilds</h1>
        <br/>
        <br/>
        {% for guild in guilds %}
            <div class="card">
                <div class="card-body">
                    {% if guild['icon'] %}
                    <img style="width: 50px; border-radius: 50%" src="https://cdn.discordapp.com/icons/{{guild['id']}}/{{guild['icon']}}.png?size=64">
                    {% else %}
                    <img style="width: 50px; border-radius: 50%" src="https://www.shitpostbot.com/resize/585/400?img=%2Fimg%2Fsourceimages%2Fdefault-discord-icon-5b254285e1034.png">
                    {% endif %}
                    &nbsp;
                    <a style="color: black;" href="/guild/{{guild['id']}}">{{guild['name']}}</a>
                </div>
            </div><br/>
        {% endfor %}
    </div>
{% endblock %}
